<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/singhrajs/functional-testing/src/test/java/TestCases/SBSA"><classes><class name="TestCases.SBSA.CreateTests"><methods><include name="CrossEntityLinks"/><include name="AddCollateralSecurityInterestCashAndCashEquivalent"/><include name="AddCapitalAccumulatorInvestmentFinancialAsset"/><include name="LinkLegalEntityToLED"/><include name="LinkLedToAnAsset"/><include name="LinkFacilityExposureToLED"/><include name="AddLegalEntityPersonal"/><include name="LinkLegalEntityToFacilityAndExposure"/><include name="AddDealGenericDeal"/><include name="AddRestrictedProductAndTransactionGeneric"/></methods></class></classes></test></suite>